@use '../styles/colors';

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: 20px;
}

.editor {
  margin-right: 20px;
  height: 640px;
  // transform: translate(-50%, -50%);
}

.imgContainer {
  // width: 32px;
  height: 32px;
  overflow: hidden;
  position: relative;
}

.tiles {
  display: grid;
  grid-template-rows: repeat(20,32px);
  grid-template-columns: repeat(50,32px);
  overflow: auto;
  position: relative;
}

.tile {
  position: absolute;
  width: 32px;
  height: 32px;
  // border: 0.5px dotted lightgray;

  &:hover {
    cursor: pointer;
    background-color: colors.$blue300;
  }
}

.elements {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 32px;
  grid-template-columns: repeat(10,32px);
}

.activeElement {
  width: 64px;
  height: 64px;
}

.edit {
  overflow: auto;
}
