@import '../common/styles.scss';

.header {
  padding: 10px 15px;
  display: flex;
  border-bottom: 1px solid $hr-color;
  margin-bottom: 10px;
  justify-content: space-between;

  > div {
    display: flex;
    gap: 25px;
  }
}