.card {
  position: relative;
  
}

.content {
  position: relative;
  color: rgb(0, 248, 248);
  padding: 10px;
  transition: fill 100ms ease-out 0s;
}

.cardOverlay {
  filter: drop-shadow(rgb(0, 248, 248) 0px 0px 2px);
  border: 1px solid rgb(0, 248, 248);
  padding: 10px;
  background-color: rgba(0, 248, 248, 0.1);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
}