@import '../styles.scss';


.select {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

  background-color: $inputBg;
  padding: 5px 10px;
  // border: 1px solid $primary;
  min-width: 100px;
}