@import '../styles.scss';

.modalWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background-color: rgba(0,0,0, 0.5);
  display: flex;
  align-items: center;
  z-index: 1;
  
}

.overlay {
  background-color: rgba(0,0,0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal {
  position: absolute;
  padding: 16px;
  border: 1px solid $primary;
  width: 460px;
  background-color: $blackGlass;
  margin: auto;
  // top: 0;
  // bottom: 0;
  left: 0;
  right: 0;

  // transform: translate(-50%, 50%);
}

.modalTitle {
  font-size: 22px;
  border-bottom: 1px solid $hr-color;
  padding-bottom: 10px;
}

.modalContent {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modalButtonBar {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-top: 1px solid $hr-color;
  padding-top: 10px;
}

.modalCloseButton {
  position: absolute;
  right: 10px;
  top: 5px;
  transform: rotate(45deg);
  font-size: 36px;
  color: $secondary;
  font-weight: 200;
}