@import './styles.scss';

.input {
  outline: none;
  border:none;
  background-image:none;
  background-color:transparent;
  box-shadow: none;  

  color: $primary;
  padding: 10px;
  width: 100px;
  background-color: $inputBg;
}

.inputWrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}