@import './styles.scss';

.button {
  text-transform: uppercase;
  padding: 16px 8px 8px;
  width: 100%;
  font-size: 30px;
}

.buttonWrapper {
  position: relative;
  width: 300px;
  background-color: rgba(0, 248, 248, 0.1);

  &:hover {
    background-color: rgba(0, 248, 248, 0.3);
  }
}

.primary {
  .button {
    color: $primary;
  }
  .buttonBorder {
    filter: drop-shadow($primary 0px 0px 2px);
    border-bottom: 2px solid $primary;
  }
}

.danger {
  .button {
    color: $danger;
  }
  .buttonBorder {
    filter: drop-shadow($danger 0px 0px 2px);
    border-bottom: 2px solid $danger;
  }
}




.iconButton {
  background-color: #fff1;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

  border: 2px solid $primary;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 12px;
  // box-shadow: 0 0px 5px #01ffff;
  background-color: rgba(0, 248, 248, 0.05);
  filter: drop-shadow($primary 0px 0px 2px);

  &:hover {
    background-color: rgba(0, 248, 248, 0.2);
  }

  img {
    width: 100%;
  }
}