@import './styles.scss';

.button {
  text-transform: uppercase;
  padding: 8px;
  width: 100%;
}

.buttonWrapper {
  position: relative;
}

.small {
  min-width: 80px;
}

.medium {
  min-width: 120px;
}

.large {
  min-width: 160px;
}

.primary {
  .button {
    color: $primary;
  }
  .buttonBorder {
    filter: drop-shadow($primary 0px 0px 2px);
    border-bottom: 2px solid $primary;
  }
}

.danger {
  .button {
    color: $danger;
  }
  .buttonBorder {
    filter: drop-shadow($danger 0px 0px 2px);
    border-bottom: 2px solid $danger;
  }
}