$primary: rgb(0, 248, 248);
$secondary: rgb(248, 248, 0);
$tertiary: rgb(248, 0, 248);
$danger: rgb(248, 0, 0);
$success: rgb(0, 248, 0);

$border-color: $primary;
$hr-color: rgba($primary, .5);

$inputBg: rgba($primary, .1);
$inputBgHover: rgba($primary, .3);

$black: rgb(2, 17, 20);
$blackGlass: rgb(2, 17, 20, 0.9);
